Documentation/functions/function-spec.rnc

element function-spec {
  attribute name { text },
  element syntax { text },
  element description {
    (text
     | element paramname { text })+
  },
  element parameters {
    element parameter {
      attribute name { text },
      text
    }+
  },
  element examples {
    element example {
      attribute expr { text },
      attribute value { text }
    }+
  }
}
